@font-face {
    font-family: fa-brands;
    font-weight: 400;
    src: url('/assets/img/font/fa-brands-400.woff2') format('woff2');
}

@font-face {
    font-family: fa-light;
    font-weight: 300;
    src: url("/assets/img/font/fa-light-300.woff2") format('woff2');
}

@font-face {
    font-family: fa-regular;
    font-weight: 400;
    src: url("/assets/img/font/fa-regular-400.woff2") format('woff2');
}

@font-face {
    font-family: fa-solid;
    font-weight: 900;
    src: url("/assets/img/font/fa-solid-900.woff2") format('woff2');
}